div.background {
  background-color: #B3FFBD;
  height: 100vh;
  width: 100vw;
}


.animate-photo-container-start {
  max-width: 0;
  overflow: hidden;
}
.animate-photo-container-end {
  max-width: 400px;
}

.animate-photo-start {
  opacity: 0;
  /* transform: translateX(-100%); */
}

.animate-photo-end {
  opacity: 1;
  /* transform: translateX(0); */
}

.animate {
  transition: all 0.8s ease-in-out;
}


.bar {
  float: left;
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background-color: #4b9cdb;
}

.bar {
  animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.animate-filter {
  animation: filterA 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@keyframes filterA {
  0% {
    filter: blur(0);
  }
  10% {
    filter: hue-rotate(40)
  }
  20% {
    filter: blur(0);
  }
  30% {
    filter: invert();
  }
  40% {
    filter: blur(0);
  }

  50% {
    filter: brightness(20);
  }
  60% {
    filter: blur(0);
  }

  70% {
    filter: saturate(10);
  }
  80% {
    filter: blur(0);
  }

  90% {
    filter: contrast(0.5);
  }

  100% {
    filter: blur(1px)
  }

}
