<ng-template #loading>
  <div>Loading…</div>
</ng-template>

<div *ngIf="!!dataManagementService.landingPageData; else loading">
  <div
    [class.to-the-top]="!!dataManagementService.landingAnimation"
    class="small-circle-anim"
  >
    <img
      class="small-circle-anim"
      src="assets/images/background/circle-small-light.svg"
      alt="animation"
      *ngIf="dataManagementService.landingAnimation"
      [@scaleAnimation]="
        !!dataManagementService.landingAnimation ? true : false
      "
      (@scaleAnimation.done)="animationDone($event)"
    />
  </div>
  <!-- Header-->
  <header class="py-5 pb-0 hero-section">
    <div class="bg-canvas">
      <img
        class="small-circle"
        alt="small-circle"
        src="assets/images/background/circle-small-light.svg"
      />
      <img
        class="big-circle"
        alt="big-circle"
        src="assets/images/background/circle-big-dark.svg"
      />
      <img
        class="big-circle-line"
        alt="big-circle-line"
        src="assets/images/background/circle-boarder.svg"
      />
    </div>
    <div class="container px-5" style="min-height: 38em">
      <app-header></app-header>

      <div class="row gx-5 justify-content-between py-5">
        <div class="col-lg-6">
          <div class="text-left my-5">
            <h1 class="display-5 fw-bolder text-dark mb-2">
              {{ dataManagementService.landingPageData.name }}
            </h1>
            <p class="lead text-dark-50 mb-4">
              Prepare a perfect passport photos with guaranteed acceptance
            </p>
            <div class="d-grid gap-3 d-sm-flex">
              <app-photo-button (onStart)="startProcess()"></app-photo-button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="w-100" src="assets/images/passport.png" />
        </div>
      </div>
    </div>
  </header>
  <!-- Features section-->
  <section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5 text-center">
      <h2>What do you get?</h2>
      <p>
        You save time and money - take a document photo conveniently without
        leaving home
      </p>
      <div class="row gx-5">
        <div
          *ngFor="let feature of features"
          class="
            col-lg-3
            mb-5 mb-lg-0
            mt-5
            text-center
            d-flex
            flex-column
            align-items-center
          "
        >
          <!-- bg-primary bg-gradient -->
          <div class="feature text-white mb-3">
            <img
              [src]="feature.icon"
              class="img-fluid p-2"
              style="width: 85px"
              alt=""
            />
          </div>
          <h2 class="h5 fw-bolder">{{ feature.title }}</h2>
          <p>
            {{ feature.description }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials section-->
  <section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Customer testimonials</h2>
        <p class="lead mb-0">Our customers love working with us</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="d-flex flex-lg-row flex-column" style="gap: 12px">
          <!-- Testimonial 1-->
          <div *ngFor="let item of [1, 2, 3]" class="card col-4">
            <div class="card-body p-4">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                </div>
                <div class="ms-4">
                  <p class="mb-1">
                    Thank you for putting together such a great product. We
                    loved working with you and the whole team, and we will be
                    recommending you to others!
                  </p>
                  <div class="small text-muted">- Client Name, Location</div>
                  <div>
                    <span class="opinion-star opinion-filled-star">★</span
                    ><span class="opinion-star opinion-filled-star">★</span
                    ><span class="opinion-star opinion-filled-star">★</span
                    ><span class="opinion-star opinion-filled-star">★</span
                    ><span class="opinion-star opinion-filled-star">★</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Specs section-->
  <section class="py-5 pb-2">
    <div class="container px-5 my-5 px-5">
      <div class="text-left mb-5">
        <h2 class="fw-bolder">
          {{ dataManagementService.landingPageData.name }} size photo - Digital
          photo requirements
        </h2>
        <!-- <p class="lead mb-0">We'd love to hear from you</p> -->
      </div>

      <div class="d-flex justify-content-between gx-5">
        <div class="col-lg-8 row align-content-md-start">
          <div class="col-6 d-flex flex-row mb-4">
            <span
              style="
                width: 48px;
                height: 48px;
                border-radius: 500px;
                margin-right: 0.8em;
              "
            >
              <img
                class="p-2"
                style="width: 48px; height: 48px"
                src="assets/images/icons/confidence.png"
              />
            </span>
            <div class="col-6 d-flex flex-column">
              <strong>Size</strong>
              <p class="m-0">
                Width:
                {{ dataManagementService.landingPageData.width.toString() }}
                {{ dataManagementService.landingPageData.sizeUnit }}
              </p>
              <p class="m-0">
                Height:
                {{ dataManagementService.landingPageData.height.toString() }}
                {{ dataManagementService.landingPageData.sizeUnit }}
              </p>
            </div>
          </div>

          <div class="col-6 d-flex flex-row mb-4">
            <span
              style="
                width: 48px;
                height: 48px;
                border-radius: 500px;
                margin-right: 0.8em;
              "
            >
              <img
                class="p-2"
                style="width: 48px; height: 48px"
                src="assets/images/icons/confidence.png"
              />
            </span>
            <div class="col-6 d-flex flex-column">
              <strong>Is it suitable for online submission?</strong>
              <p class="m-0">
                {{
                  !!dataManagementService.landingPageData.isOnline
                    ? "Yes"
                    : "No"
                }}
              </p>
            </div>
          </div>

          <div class="col-6 d-flex flex-row mb-4">
            <span
              style="
                width: 48px;
                height: 48px;
                border-radius: 500px;
                margin-right: 0.8em;
              "
            >
              <img
                class="p-2"
                style="width: 48px; height: 48px"
                src="assets/images/icons/confidence.png"
              />
            </span>
            <div class="col-6 d-flex flex-column">
              <strong>Resolution</strong>
              <p class="m-0">
                {{ dataManagementService.landingPageData.dpi }} dpi
              </p>
            </div>
          </div>

          <div class="col-6 d-flex flex-row mb-4">
            <span
              style="
                width: 48px;
                height: 48px;
                border-radius: 500px;
                margin-right: 0.8em;
              "
            >
              <img
                class="p-2"
                style="width: 48px; height: 48px"
                src="assets/images/icons/confidence.png"
              />
            </span>
            <div class="col-6 d-flex flex-column">
              <strong>Is it printable?</strong>
              <p class="m-0">
                {{
                  !!dataManagementService.landingPageData.isPrintable
                    ? "Yes"
                    : "No"
                }}
              </p>
            </div>
          </div>

          <div class="col-6 d-flex flex-row mb-4">
            <span
              style="
                width: 48px;
                height: 48px;
                border-radius: 500px;
                margin-right: 0.8em;
              "
            >
              <img
                class="p-2"
                style="width: 48px; height: 48px"
                src="assets/images/icons/confidence.png"
              />
            </span>
            <div class="col-6 d-flex flex-column">
              <strong>Image definition parameters</strong>
              <p class="m-0">
                Head height:
                {{
                  dataManagementService.landingPageData.headHeight.toString()
                }}
                {{ dataManagementService.landingPageData.headUnit }}
              </p>
              <p class="m-0">
                Top of the Photo to Top of the Hair:
                {{ dataManagementService.landingPageData.hairToTop.toString() }}
                {{ dataManagementService.landingPageData.headUnit }}
              </p>
            </div>
          </div>

          <div class="col-6 d-flex flex-row mb-4">
            <span
              style="
                width: 48px;
                height: 48px;
                border-radius: 500px;
                margin-right: 0.8em;
              "
            >
              <img
                class="p-2"
                style="width: 48px; height: 48px"
                src="assets/images/icons/confidence.png"
              />
            </span>
            <div class="col-6 d-flex flex-column">
              <strong>Background Color</strong>

              <div
                class="color-cirlce"
                [ngStyle]="{
                  'background-color':
                    dataManagementService.landingPageData.bgColor
                }"
              ></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <img
            class="img-fluid img-space"
            style="width: 350px"
            src="assets/images/democut.webp"
            alt="Passport Photos Maker - best photo editor"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Intro section-->
  <section id="features">
    <div class="container w-75 px-5 my-4 text-left">
      <h2>Photo for {{ dataManagementService.landingPageData.name }}</h2>
      <p [innerHTML]="dataManagementService.landingPageData.introText"></p>
    </div>
  </section>

  <!-- Intro section-->
  <section id="features">
    <div class="container w-75 px-5 my-4 text-left">
      <h2>
        Photo requirements for {{ dataManagementService.landingPageData.name }}
      </h2>
      <p
        [innerHTML]="dataManagementService.landingPageData.requirementsText"
      ></p>
    </div>
  </section>
  <!-- Intro section-->
  <section id="features">
    <div class="container w-75 px-5 my-4 mb-5 text-left">
      <h2>Differences in visa photos size and requirements</h2>
      <p
        [innerHTML]="dataManagementService.landingPageData.differencesText"
      ></p>
    </div>
  </section>
  <!-- Intro section-->
  <section id="features">
    <div class="container w-75 px-5 my-5">
      <h1 class="text-center">About the document</h1>
      <p [innerHTML]="dataManagementService.landingPageData.aboutText"></p>
    </div>
  </section>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container px-5">
      <p class="m-0 text-center text-white">
        Copyright &copy; Passport AI 2021
      </p>
    </div>
  </footer>
</div>
